@{
    ViewData["Title"] = "Sign up for Appointment";
}

@model List<Time>

<a class="btn btn-secondary">Previous Day</a>
<a class="btn btn-secondary">Next Day</a>


<h2>Please select a time for your appointment:</h2>
<h4>Morning Availability</h4>

@*@foreach (var x in Model)

    {
        if (x.taken == false)
        {
            <a asp-controller="Home" asp-action="AddAppointment" asp-route-id="@x.TimeId" class="btn btn-primary">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
        else
        {
            <a class="btn btn-primary disabled">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
    }*@

@*<a asp-controller="Home" asp-action="AddAppointment" asp-route-time="1" class="btn btn-primary">8:00 AM</a>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">9:00 AM</a>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">10:00 AM</a>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">11:00 AM</a>
    <br /><br />
    <h4>Afternoon Availability</h4>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">12:00 PM</a>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">1:00 PM</a>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">2:00 PM</a>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">3:00 PM</a>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">4:00 PM</a>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">5:00 PM</a>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">6:00 PM</a>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">7:00 PM</a>
    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-primary">8:00 PM</a>*@

@foreach (var x in Model)
{
    if (x.TimeId <= 13)
    {
        if (x.TimeId <= 1)
        {
            <h2>Monday:</h2>
        }
        if (x.taken == false)
        {
            <a asp-controller="Home" asp-action="AddAppointment" asp-route-id="@x.TimeId" class="btn btn-primary">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
        else
        {
            <a class="btn btn-primary disabled">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
    }
    else if (x.TimeId <= 26)
    {
        if (x.TimeId <= 14)
        {
            <h2>Tuesday:</h2>
        }
        if (x.taken == false)
        {
            <a asp-controller="Home" asp-action="AddAppointment" asp-route-id="@x.TimeId" class="btn btn-primary">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
        else
        {
            <a class="btn btn-primary disabled">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
    }
    else if (x.TimeId <= 39)
    {
        if (x.TimeId <= 27)
        {
            <h2>Wednesday:</h2>
        }
        if (x.taken == false)
        {
            <a asp-controller="Home" asp-action="AddAppointment" asp-route-id="@x.TimeId" class="btn btn-primary">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
        else
        {
            <a class="btn btn-primary disabled">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
    }
    else if (x.TimeId <= 52)
    {
        if (x.TimeId <= 40)
        {
            <h2>Thursday:</h2>
        }
        if (x.taken == false)
        {
            <a asp-controller="Home" asp-action="AddAppointment" asp-route-id="@x.TimeId" class="btn btn-primary">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
        else
        {
            <a class="btn btn-primary disabled">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
    }
    else if (x.TimeId <= 65)
    {
        if (x.TimeId <= 53)
        {
            <h2>Friday:</h2>
        }
        if (x.taken == false)
        {
            <a asp-controller="Home" asp-action="AddAppointment" asp-route-id="@x.TimeId" class="btn btn-primary">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
        else
        {
            <a class="btn btn-primary disabled">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
    }
    else if (x.TimeId <= 78)
    {
        if (x.TimeId <= 66)
        {
            <h2>Saturday:</h2>
        }
        if (x.taken == false)
        {
            <a asp-controller="Home" asp-action="AddAppointment" asp-route-id="@x.TimeId" class="btn btn-primary">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
        else
        {
            <a class="btn btn-primary disabled">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
    }
    else if (x.TimeId <= 91)
    {
        if (x.TimeId <= 79)
        {
            <h2>Sunday:</h2>
        }
        if (x.taken == false)
        {
            <a asp-controller="Home" asp-action="AddAppointment" asp-route-id="@x.TimeId" class="btn btn-primary">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
        else
        {
            <a class="btn btn-primary disabled">@x.AppointmentTime.ToString("hh:mm tt")</a>
        }
    }
}